body {
	background-color: #02000a;
	color: WHITE;
}
div {
	border: solid #3d444d 1px;
	display: flex;
	justify-content: center;
	border-radius: 30px;
	padding: 0.5rem;
}
.main-box{
	justify-content: flex-start;
	border: none;
	flex-wrap: wrap;
	row-gap: 20px;
	column-gap: 30px;
}
.info-container{
	min-height: 40rem;
	width:25rem;
	padding: 0.7rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3,1fr);
	/*
	grid-template-areas: "header header"
			     "pannel1 pannel2"
 			     "pannel1 pannel2"
 			     "pannel1 pannel2"
			     "pannel1 pannel2"
			     "pannel1 pannel2"
			     "pannel1 pannel2"
			     "footer footer";
			     */
	grid-gap: 1rem;
}
.create-link{
	min-height: 40rem;
	width: 25rem;
	border-color: #7e0;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #7e0;
	font-size: 4rem;
	transition: 0.5s;
}
.create-link:hover{
	rotate: 5deg;
	cursor: pointer;
	background-color: #10101060;	
}
.info-desc{
	display: flex;
	justify-content: center;
	position: relative;
	bottom: 30%;

}
.pannel-1{#grid-area: pannel1;flex-direction: column; justify-content: space-around; grid-column: 1/3; }
.pannel-2{#grid-area: pannel2; flex-direction: column; justify-content: space-around; grid-column: 1/3;}
.info-footer{#grid-area: footer; grid-column: 1/3;}
.link-counter{
	padding-right: 1rem;
	padding-left:1rem;
	padding-top: 1rem;
	position: relative;
	max-height: 4rem;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: fit-content;
	left: 50%;
	translate: -50%;
	grid-column: 1 / 3;
	#grid-area: header;
}
.header-2{
	font-size: 2rem;
	font-weight: bold;
}
.new-link{
	position: fixed;
	width: 50rem;
	height: 50rem;
	top: 5rem;
	left: 50%;
	translate: -50%;
	background-color: #02000ab0;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 10rem;

}
input[type=text]{
	background-color: transparent;
	width: 50%;
	height: 1.5rem;
	outline: none;
	box-shadow: none;
	transition: 0.5s;
	border: none;
	z-index: 10;
}
.new-link label{
	position: absolute;
	top: 12rem;
	left: calc(25% + 10px);
	z-index: 9;
	transition: 0.5s;
}
.new-link input:focus ~ label{
	color: cyan;
	translate: -10px -140%;
}
.new-link input:focus ~ i{
	background-color: cyan;
	height: 1.5rem;
	top: 11.5rem;
	
}
.new-link i{
	background-color: white;
	position: absolute;
	width: 50%;
	top: 13rem;
	transition: 0.5s;
	height: 0.25rem;
	z-index:9;
	border-radius: 10px;
}
.new-link input::placeholder {
	color: transparent;
}
.new-link input:not(:placeholder-shown) ~ i{
	background-color: cyan;
	height: 1.5rem;
	top: 11.5rem;
}
.new-link input:not(:placeholder-shown) ~ label {
	color: cyan;
	translate: -10px -140%;
}
.x{
	position: absolute;
	aspect-ratio: 1/1;
	width: 5rem;
	border-radius: 31%;
	background-color: #ff1111cc;
	display:flex;
	align-items:center;
	justify-content: center;
	top: 0;
	right: 0;
	font-size: 2rem;
	cursor: pointer;
}
.long-button{
	width: 30%;
	height: 1.5rem;

	border-radius: 20px;
	color: black;
	background-color: cyan;
	cursor: pointer;
	border:none;
	transition: 0.5s;	
}
.long-button:hover {
	background-color: #00ffffa8;
	transform: scale(1.1);
}
.confirm{
	flex-direction: column;
	justify-content:flex-start;
	align-items:center;
	top:25%;
	right: 50%;
	translate: 50%;
	width: 40%;
	position: fixed;
	background-color:  #02000ab0;
}
.snippet{
	width: 90%;
	height: 1rem;
	overflow-x: scroll;
	background-color: #00000080;
	justify-content: flex-start;

}
